ul.social-list
  li.social-list__item
    a(href="#").social-list__link
      img.social-list__icon(src="./images/src/inst-icon.svg" alt="Instagram")
  li.social-list__item
    a(href="#").social-list__link
      img.social-list__icon(src="./images/src/skype-social-icon.svg" alt="Skype")
  li.social-list__item
    a(href="#").social-list__link
      img.social-list__icon(src="./images/src/facebook-icon.svg" alt="Facebook")
