ul.social-list
  li.social-list__item
    a(href="#").social-list__link
      img.social-list__icon(src="./images/src/viber-icon.svg" alt="Viber")
  li.social-list__item
    a(href="#").social-list__link
      img.social-list__icon(src="./images/src/inst-icon.svg" alt="Instagram")
  li.social-list__item
    a(href="#").social-list__link
      img.social-list__icon(src="./images/src/tg-icon.svg" alt="Telegram")
  li.social-list__item
    a(href="#").social-list__link
      img.social-list__icon(src="./images/src/facebook-icon.svg" alt="Facebook")
