extends base/template

block variables
  -
    var title = 'Новость'

block content
  main#main.main
    section.section#post.post
      img.flowers-decor.post__decor.post__decor_1(src="./images/src/flowers-decor-1.png" alt="" aria-hidden="true")
      img.flowers-decor.post__decor.post__decor_2(src="./images/src/flowers-decor-1.png" alt="" aria-hidden="true")
      img.flowers-decor.post__decor.post__decor_3(src="./images/src/flowers-decor-1.png" alt="" aria-hidden="true")

      .container.section__container.post__container
        .section__row.post__row
          header.section__header.post__header
            ul.bread-crumbs.section__bread-crumbs
              li.bread-crumbs__item
                a(href="./index.html").white-underline-link.bread-crumbs__link Главная
              li.bread-crumbs__item
                a(href="./news.html").white-underline-link.bread-crumbs__link Новости
              li.bread-crumbs__item
                a.bread-crumbs__link Как сохранить букет свежим: советы и рекомендации

            h2.section__title.post__title Как сохранить букет свежим: советы и рекомендации

          .post-area
            article.article
              .article__images.article__images_1.to-left
                img.article__image(src="./images/src/article-image-1.jpg" alt="" aria-hidden="true")
                img.article__image(src="./images/src/article-image-2.jpg" alt="" aria-hidden="true")
                img.article__image(src="./images/src/article-image-3.jpg" alt="" aria-hidden="true")

              p Получив из рук курьера ароматную поздравительную композицию, хочется не только запечатлеть в памяти яркие эмоции, а и дольше сохранить букету свежесть. Следование простым рекомендациям позволит достичь цели - уберечь хрупкие и нежные бутоны от преждевременного увядания.

              h3 Базовые правила: как сохранить букет свежим?

              p Чтобы букет дольше стоял, получателю флористического сюрприза стоит проделать несколько шагов:
 
              p 1. Обрезка стеблей
              p Первым делом под проточной струей воды подрезают стебли каждого растения в составе аранжировке. Осуществлять эту процедуру нужно специальным флористическим секатором или острым кухонным ножом, соблюдая предельную осторожность и аккуратность при работе с режущими инструментами. Удаляют также нижние листья и шипы, чтобы предотвратить процессы гниения при хранении растений в вазоне.
 
              p 2. Частая смена воды
              p Воду стоит менять каждые 2-3 дня, отдавая предпочтение отстоянной и отфильтрованной жидкости умеренной температуры.
              p 3. Использование добавок
              p Некоторые добавки способны продлить жизнь «жителям» букета:

              ul
                li пара капель камфорного спирта в вазоне даст возможность бутоном быстрее раскрыться и показать себя во всей красе;
                li добавление ложки поваренной соли или нашатырного спирта на литр воды улучшит состояние лепестков, предотвратит их опадание;
                li специальные минеральные добавки, которые продают в салонах флористики, оказывают комплексную защиту;
                li сахар также окажет «живительное воздействие».

              h3 Как сохранить в жару букеты с различным наполнением?

              p Летом особенно сложно обеспечить композициям стойкость. Поэтому в жаркое время года помимо основных советов применяют и специфические шаги для сохранения эстетичного вида аранжировок из различных сортов срезанных растений:
 
              p Розы
              p Сохранить букет роз надолго поможет пара таблеток обыкновенного аспирина, растворенного в воде. Это простое, но проверенное средство отличается эффективностью. Оно будет впитываться лучше, если на стебле сделать несколько надрезов.
 
              p Герберы
              p Выразительные бутоны герберы будут радовать взор на протяжении 7-14 дней, если их орошать водой из пульверизатора. Этот метод также применим к композициям из астр, хризантем и гладиолусов.
 
              p Эустомы
              p К быстрому увяданию склонны экзотические эустомы, поэтому их стебли флористы помещают в специальные капсулы или оазисы. Дома такой букет нужно хранить вдали от прямых солнечных лучей и сквозняков. Доставка цветов любого типа и размера возможна на сайте компании Flowers-Ukraine.

              h3 Уход за флористической продукцией в холода

              p Существуют секреты хранения букетов, подаренных зимой и осенью. Когда курьер только занес в помещение композицию с улицы, ее не нужно сразу помещать в вазон с водой. Перед помещением в сосуд с живительной влагой аранжировки освобождают от упаковки – оберточной бумаги, крафт-листов, фольги, а затем оставляют отлежаться на полчаса при комнатной температуре. Так растения смогут лучше адаптироваться после пребывания на морозе, лучше перенесут смену микроклимата. Их размещают вдали от отопительных приборов – каминов, обогревателей, радиаторов, поскольку такое «соседство» приводит к потере влаги, вызывает нежелательную порчу цветов.

    section#comments.comments
      .container.comments__container
        .comments__row
          header.comments__header
            h2.section-title.comments__title Коментарии

          .comments__grid
            .comments__inputs
              form(action="#" method="POST").comments__form
                .white-area
                  input(type="text" name="username" required).white-area__input
                  span.white-area__input-label Ваше имя *

                .white-area
                  input(type="text" name="comment" required).white-area__input
                  span.white-area__input-label Коментарий *

                .comments__submit-block
                  button(type="submit").action-btn.comments__submit
                    span.action-btn__inner
                      span.action-btn__text Отправить

            .comments-widget
              .comments-widget__inner
                article.comment
                  .comment__author
                    img(src="./images/src/review-photo-1.jpg" alt="Ирина Артипенко" width="49" height="49").comment__author-photo
                    h3.comment__author-name Ирина Артипенко

                  .comment__content
                    p.comment__content-text Тюльпан - символ любви, весеннего обновления, счастья, теплой и солнечной погоды и хорошего приподнятого настроения! Тюльпан отличается элегантностью форм и ...
                article.comment
                  .comment__author
                    img(src="./images/src/review-photo-1.jpg" alt="Ирина Артипенко" width="49" height="49").comment__author-photo
                    h3.comment__author-name Ирина Артипенко

                  .comment__content
                    p.comment__content-text Тюльпан - символ любви, весеннего обновления, счастья, теплой и солнечной погоды и хорошего приподнятого настроения! Тюльпан отличается элегантностью форм и ...
                article.comment
                  .comment__author
                    img(src="./images/src/review-photo-1.jpg" alt="Ирина Артипенко" width="49" height="49").comment__author-photo
                    h3.comment__author-name Ирина Артипенко

                  .comment__content
                    p.comment__content-text Тюльпан - символ любви, весеннего обновления, счастья, теплой и солнечной погоды и хорошего приподнятого настроения! Тюльпан отличается элегантностью форм и ...
                article.comment
                  .comment__author
                    img(src="./images/src/review-photo-1.jpg" alt="Ирина Артипенко" width="49" height="49").comment__author-photo
                    h3.comment__author-name Ирина Артипенко

                  .comment__content
                    p.comment__content-text Тюльпан - символ любви, весеннего обновления, счастья, теплой и солнечной погоды и хорошего приподнятого настроения! Тюльпан отличается элегантностью форм и ...
                article.comment
                  .comment__author
                    img(src="./images/src/review-photo-1.jpg" alt="Ирина Артипенко" width="49" height="49").comment__author-photo
                    h3.comment__author-name Ирина Артипенко

                  .comment__content
                    p.comment__content-text Тюльпан - символ любви, весеннего обновления, счастья, теплой и солнечной погоды и хорошего приподнятого настроения! Тюльпан отличается элегантностью форм и ...
                article.comment
                  .comment__author
                    img(src="./images/src/review-photo-1.jpg" alt="Ирина Артипенко" width="49" height="49").comment__author-photo
                    h3.comment__author-name Ирина Артипенко

                  .comment__content
                    p.comment__content-text Тюльпан - символ любви, весеннего обновления, счастья, теплой и солнечной погоды и хорошего приподнятого настроения! Тюльпан отличается элегантностью форм и ...
                article.comment
                  .comment__author
                    img(src="./images/src/review-photo-1.jpg" alt="Ирина Артипенко" width="49" height="49").comment__author-photo
                    h3.comment__author-name Ирина Артипенко

                  .comment__content
                    p.comment__content-text Тюльпан - символ любви, весеннего обновления, счастья, теплой и солнечной погоды и хорошего приподнятого настроения! Тюльпан отличается элегантностью форм и ...


    include includes/sections/map


          