extends base/template

block variables
  -
    var title = 'Каталог'

block content
  include includes/sections/filter-menu
  include includes/sections/options-for-who
  include includes/sections/options-color
  include includes/sections/options-reason

  main#main.main
    section.section#catalog.catalog
      img.flowers-decor.catalog__decor.catalog__decor_1(src="./images/flowers-decor-4.png" alt="" aria-hidden="true")
      img.flowers-decor.catalog__decor.catalog__decor_2(src="./images/flowers-decor-4.png" alt="" aria-hidden="true")
      img.flowers-decor.catalog__decor.catalog__decor_3(src="./images/flowers-decor-4.png" alt="" aria-hidden="true")
      img.flowers-decor.catalog__decor.catalog__decor_4(src="./images/flowers-decor-4.png" alt="" aria-hidden="true" loading="lazy")
      img.big.flowers-decor.catalog__decor.catalog__decor_5(src="./images/flowers-decor-3.png" alt="" aria-hidden="true" loading="lazy")
      img.flowers-decor.catalog__decor.catalog__decor_6(src="./images/flowers-decor-4.png" alt="" aria-hidden="true" loading="lazy")
      img.flowers-decor.catalog__decor.catalog__decor_7(src="./images/flowers-decor-4.png" alt="" aria-hidden="true" loading="lazy")

      .container.section__container.catalog__container
        .section__row.catalog__row
          header.section__header.catalog__header
            ul.bread-crumbs.section__bread-crumbs
              li.bread-crumbs__item
                a(href="./index.html").white-underline-link.bread-crumbs__link Главная
              li.bread-crumbs__item
                a.bread-crumbs__link Каталог

            h2.section__title.catalog__title Каталог товаров

          .section__content.catalog__content
            .catalog__grid
              .accordeon.catalog-opts
                ul.catalog-opts__list
                  li.catalog-opts__item
                    .menu-drop.active
                      span.menu-drop__title Букеты

                        i.black.menu-drop__icon

                      ul.inner-list.catalog-opts__inner
                        li.inner-list-item.catalog-opts__inner-item.active
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из роз
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из хризантем
                        li.inner-list-item.catalog-opts__inner-item.active
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из альтромерии
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из гербер
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из ирисов
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из пионов
                        li.inner-list-item.catalog-opts__inner-item.active
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из эустомы
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из тюльпанов
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из фрезий
                        li.inner-list-item.catalog-opts__inner-item.active
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из орхидей
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из гортензии
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из лилий
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из гвоздик
                        li.inner-list-item.catalog-opts__inner-item.active
                          .inner-list-item__inner
                            span.inner-list-item__title Дизайнерские букеты
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Бизнес букеты
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты любимой
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты для мужчины
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Весенние букеты
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Летние букеты

                  li.catalog-opts__item
                    .menu-drop
                      span.menu-drop__title Розы

                        i.black.menu-drop__icon

                      ul.inner-list
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из роз
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из хризантем
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из альтромерии

                  li.catalog-opts__item
                    .menu-drop
                      span.menu-drop__title Цветы в коробке

                        i.black.menu-drop__icon

                      ul.inner-list
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из роз
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из хризантем
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из альтромерии

                  li.catalog-opts__item
                    .menu-drop
                      span.menu-drop__title Композиции

                        i.black.menu-drop__icon

                      ul.inner-list
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из роз
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из хризантем
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из альтромерии

                  li.catalog-opts__item
                    .menu-drop
                      span.menu-drop__title Подарки

                        i.black.menu-drop__icon

                      ul.inner-list
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из роз
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из хризантем
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из альтромерии

                  li.catalog-opts__item
                    .menu-drop
                      span.menu-drop__title Подарочные корзины

                        i.black.menu-drop__icon

                      ul.inner-list
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из роз
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из хризантем
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из альтромерии

                  li.catalog-opts__item
                    .menu-drop
                      span.menu-drop__title Букеты невесты

                        i.black.menu-drop__icon

                      ul.inner-list
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из роз
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из хризантем
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из альтромерии

                  li.catalog-opts__item
                    .menu-drop
                      span.menu-drop__title Вкусные букеты

                        i.black.menu-drop__icon

                      ul.inner-list
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из роз
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из хризантем
                        li.inner-list-item.catalog-opts__inner-item
                          .inner-list-item__inner
                            span.inner-list-item__title Букеты из альтромерии

              .catalog-cards
                .catalog-cards__top-line
                  label.catalog-cards__select-label
                    span.catalog-cards__select-label-text Кому:
                    select.catalog-cards__select(name="for-who")
                      option(value="value-1") Маме
                      option(value="value-2") Папе
                      option(value="value-3") Бабушке
                      option(value="value-4") Дедушке

                  label.catalog-cards__select-label
                    span.catalog-cards__select-label-text По цвету:
                    select.catalog-cards__select(name="flowers-color")
                      option(value="value-1") Розовые букеты
                      option(value="value-2") Красные букеты
                      option(value="value-3") Фиолетовые букеты
                      option(value="value-4") Оранжевые букеты

                  label.catalog-cards__select-label
                    span.catalog-cards__select-label-text Повод:
                    select.catalog-cards__select(name="reason")
                      option(value="value-1") 8 марта
                      option(value="value-2") 23 февраля
                      option(value="value-3") 9 мая
                      option(value="value-4") День рождения

                  label.catalog-cards__select-label
                    span.catalog-cards__select-label-text Сортировка:
                    select.catalog-cards__select(name="for-sort")
                      option(value="value-1") Популярность
                      option(value="value-2") Пышность
                      option(value="value-3") Количество
                      option(value="value-4") Цена

                .mobile-buttons.catalog-cards__mobile-buttons
                  .mobile-buttons__block
                    button(type="button").filter-button.mobile-buttons__button
                      <svg class="mobile-buttons__button-icon" aria-hidden="true" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_129_545)">
                        <path d="M14.1935 1.12946e-06H0.82024C0.584372 -0.000445029 0.368134 0.13132 0.260313 0.341162C0.151005 0.55383 0.170189 0.809924 0.309836 1.00415L5.20923 7.9059C5.21087 7.90828 5.21265 7.91051 5.21429 7.91289C5.3923 8.15322 5.48853 8.44426 5.48912 8.74348V14.3704C5.48808 14.5371 5.55352 14.6971 5.671 14.8154C5.78849 14.9336 5.94822 14.9999 6.11478 14.9999C6.19955 14.9999 6.28328 14.983 6.36151 14.9506L9.11459 13.9008C9.36131 13.8255 9.52505 13.5928 9.52505 13.3124V8.74348C9.5255 8.44441 9.62187 8.15322 9.79974 7.91289C9.80137 7.91051 9.80316 7.90828 9.80479 7.9059L14.704 1.00385C14.8437 0.809775 14.8629 0.55383 14.7536 0.341162C14.6457 0.13132 14.4295 -0.000445029 14.1935 1.12946e-06ZM9.18583 7.46182C8.91218 7.83317 8.76421 8.28215 8.76332 8.74348V13.2199L6.25056 14.178V8.74348C6.24967 8.28215 6.10169 7.83317 5.8279 7.46182L1.07143 0.761442H13.9424L9.18583 7.46182Z" fill="white"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_129_545">
                        <rect width="15" height="15" fill="white"/>
                        </clipPath>
                        </defs>
                      </svg>

                      span.mobile-buttons__button-text Фильтр

                  .mobile-buttons__block
                    select(name="order-by").sort-button.mobile-buttons__button
                      option(value="value-1") По популярности
                      option(value="value-2") По пышности
                      option(value="value-3") По количеству
                      option(value="value-4") По цене

                .products-cards.grid-3
                  article.product-card.products-grid__card
                    .product-card-image-block
                      a(href="./product.html").product-card__link
                        .product-card-image-block__top-line
                          span.product-discount.product-card__discount -19%

                        img.product-card__image(src="./images/product-card-image-1.png" alt="сто одна красная роза" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>
                        
                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title 101 красная роза
                          .product-card-text-block-price
                            del.product-card-text-block-price__old 2800 грн
                            ins.product-card-text-block-price__new 2280 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line
                          span.product-discount.product-card__discount -10%

                        img.product-card__image(src="./images/product-card-image-2.png" alt="25 розовых пионовидных роз" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title 25 розовых пионовидных роз
                          .product-card-text-block-price
                            del.product-card-text-block-price__old 2800 грн
                            ins.product-card-text-block-price__new 1680 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line
                          span.product-discount.product-card__discount -19%

                        img.product-card__image(src="./images/product-card-image-3.png" alt="букет влюбленность" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title Влюбленность
                          .product-card-text-block-price
                            del.product-card-text-block-price__old 2800 грн
                            ins.product-card-text-block-price__new 1270 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line

                        img.product-card__image(src="./images/product-card-image-5.png" alt="букет мечтательница" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star


                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title Мечтательница
                          .product-card-text-block-price
                            del.product-card-text-block-price__old
                            ins.product-card-text-block-price__new 2020 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line

                        img.product-card__image(src="./images/product-card-image-6.png" alt="букет корзина солнечного настроения" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title Корзина солнечного настроения
                          .product-card-text-block-price
                            del.product-card-text-block-price__old
                            ins.product-card-text-block-price__new 1680 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line

                        img.product-card__image(src="./images/product-card-image-7.png" alt="букет мечтательница" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star


                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title Цветочная клумба
                          .product-card-text-block-price
                            del.product-card-text-block-price__old
                            ins.product-card-text-block-price__new 1270 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line
                          span.product-discount.product-card__discount -19%

                        img.product-card__image(src="./images/product-card-image-1.png" alt="сто одна красная роза" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>
                        
                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title 101 красная роза
                          .product-card-text-block-price
                            del.product-card-text-block-price__old 2800 грн
                            ins.product-card-text-block-price__new 2280 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line
                          span.product-discount.product-card__discount -10%

                        img.product-card__image(src="./images/product-card-image-2.png" alt="25 розовых пионовидных роз" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title 25 розовых пионовидных роз
                          .product-card-text-block-price
                            del.product-card-text-block-price__old 2800 грн
                            ins.product-card-text-block-price__new 1680 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card
                    .product-card-image-block
                      a(href="./product.html").product-card__link
                        .product-card-image-block__top-line
                          span.product-discount.product-card__discount -19%

                        img.product-card__image(src="./images/product-card-image-1.png" alt="сто одна красная роза" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>
                        
                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title 101 красная роза
                          .product-card-text-block-price
                            del.product-card-text-block-price__old 2800 грн
                            ins.product-card-text-block-price__new 2280 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line
                          span.product-discount.product-card__discount -10%

                        img.product-card__image(src="./images/product-card-image-2.png" alt="25 розовых пионовидных роз" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title 25 розовых пионовидных роз
                          .product-card-text-block-price
                            del.product-card-text-block-price__old 2800 грн
                            ins.product-card-text-block-price__new 1680 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line
                          span.product-discount.product-card__discount -19%

                        img.product-card__image(src="./images/product-card-image-3.png" alt="букет влюбленность" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title Влюбленность
                          .product-card-text-block-price
                            del.product-card-text-block-price__old 2800 грн
                            ins.product-card-text-block-price__new 1270 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line

                        img.product-card__image(src="./images/product-card-image-5.png" alt="букет мечтательница" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star


                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title Мечтательница
                          .product-card-text-block-price
                            del.product-card-text-block-price__old
                            ins.product-card-text-block-price__new 2020 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card.hide
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line

                        img.product-card__image(src="./images/product-card-image-6.png" alt="букет корзина солнечного настроения" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title Корзина солнечного настроения
                          .product-card-text-block-price
                            del.product-card-text-block-price__old
                            ins.product-card-text-block-price__new 1680 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card.hide
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line

                        img.product-card__image(src="./images/product-card-image-7.png" alt="букет мечтательница" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star


                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title Цветочная клумба
                          .product-card-text-block-price
                            del.product-card-text-block-price__old
                            ins.product-card-text-block-price__new 1270 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card.hide
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line
                          span.product-discount.product-card__discount -19%

                        img.product-card__image(src="./images/product-card-image-1.png" alt="сто одна красная роза" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>
                        
                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title 101 красная роза
                          .product-card-text-block-price
                            del.product-card-text-block-price__old 2800 грн
                            ins.product-card-text-block-price__new 2280 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card.hide
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line
                          span.product-discount.product-card__discount -10%

                        img.product-card__image(src="./images/product-card-image-2.png" alt="25 розовых пионовидных роз" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title 25 розовых пионовидных роз
                          .product-card-text-block-price
                            del.product-card-text-block-price__old 2800 грн
                            ins.product-card-text-block-price__new 1680 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card.hide
                    .product-card-image-block
                      a(href="./product.html").product-card__link
                        .product-card-image-block__top-line
                          span.product-discount.product-card__discount -19%

                        img.product-card__image(src="./images/product-card-image-1.png" alt="сто одна красная роза" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>
                        
                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title 101 красная роза
                          .product-card-text-block-price
                            del.product-card-text-block-price__old 2800 грн
                            ins.product-card-text-block-price__new 2280 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card.hide
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line
                          span.product-discount.product-card__discount -10%

                        img.product-card__image(src="./images/product-card-image-2.png" alt="25 розовых пионовидных роз" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title 25 розовых пионовидных роз
                          .product-card-text-block-price
                            del.product-card-text-block-price__old 2800 грн
                            ins.product-card-text-block-price__new 1680 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card.hide
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line
                          span.product-discount.product-card__discount -19%

                        img.product-card__image(src="./images/product-card-image-3.png" alt="букет влюбленность" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title Влюбленность
                          .product-card-text-block-price
                            del.product-card-text-block-price__old 2800 грн
                            ins.product-card-text-block-price__new 1270 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card.hide
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line

                        img.product-card__image(src="./images/product-card-image-5.png" alt="букет мечтательница" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star


                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title Мечтательница
                          .product-card-text-block-price
                            del.product-card-text-block-price__old
                            ins.product-card-text-block-price__new 2020 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card.hide
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line

                        img.product-card__image(src="./images/product-card-image-6.png" alt="букет корзина солнечного настроения" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title Корзина солнечного настроения
                          .product-card-text-block-price
                            del.product-card-text-block-price__old
                            ins.product-card-text-block-price__new 1680 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card.hide
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line

                        img.product-card__image(src="./images/product-card-image-7.png" alt="букет мечтательница" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star


                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title Цветочная клумба
                          .product-card-text-block-price
                            del.product-card-text-block-price__old
                            ins.product-card-text-block-price__new 1270 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card.hide
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line
                          span.product-discount.product-card__discount -19%

                        img.product-card__image(src="./images/product-card-image-1.png" alt="сто одна красная роза" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>
                        
                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star
                          img(src="./images/star-icon.svg" alt="" aria-hidden="true" loading="lazy").product-card-text-block-raiting-star

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title 101 красная роза
                          .product-card-text-block-price
                            del.product-card-text-block-price__old 2800 грн
                            ins.product-card-text-block-price__new 2280 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  article.product-card.products-grid__card.hide
                    .product-card-image-block
                      a(href="#").product-card__link
                        .product-card-image-block__top-line
                          span.product-discount.product-card__discount -10%

                        img.product-card__image(src="./images/product-card-image-2.png" alt="25 розовых пионовидных роз" loading="lazy")

                      .product-card-image-block__bottom-line
                        .product-card__in-top TOP

                      button(type="button").product-to-favourite.product-card__to-favourite
                        <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                        </svg>

                    .product-card-text-block
                      .product-card-text-block__inner
                        .product-card-text-block__raiting

                        .product-card-text-block__middle-line
                          h3.product-card-text-block__title 25 розовых пионовидных роз
                          .product-card-text-block-price
                            del.product-card-text-block-price__old 2800 грн
                            ins.product-card-text-block-price__new 1680 грн

                        .product-card-text-block__bottom-line
                          button(type="button").action-btn.product-card__get-order
                            span.action-btn__inner
                              span.action-btn__text Заказать
                          button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                  

                .items-pagination.catalog-cards__bottom-line
                  button(type="button" data-what-is="products").action-btn.load-more.items-pagination__more.catalog-cards__more
                    span.load-more__text Еще #[span.load-more__count] 

                  .catalog-cards__pagination
                    .cards-pagination
                      button(type="button").cards-pagination__arrow.cards-pagination__arrow_prev.disable
                        span.help-text.visually-hidden На предыдущую страницу
                      
                        img(src="./images/sprite.svg#arrow-prev-icon" alt="" aria-hidden="true")
                      button(type="button").cards-pagination__arrow.cards-pagination__arrow_next
                        span.help-text.visually-hidden На следующую страницу
                        img(src="./images/sprite.svg#arrow-next-icon" alt="" aria-hidden="true")
                        

                      ul.cards-pagination__list
                        li.cards-pagination__item.active
                          a(href="#").cards-pagination__link 1
                        li.cards-pagination__item
                          a(href="#").cards-pagination__link 2
                        li.cards-pagination__item
                          a(href="#").cards-pagination__link 3
                        li.cards-pagination__item
                          a(href="#").cards-pagination__link 4
                        li.cards-pagination__item
                          a(href="#").cards-pagination__link 5
                        li.cards-pagination__item
                          a(href="#").cards-pagination__link 6
                        li.cards-pagination__item
                          a(href="#").cards-pagination__link 7

    section.promotion
      img.flowers-decor.promotion__decor.promotion__decor_1(src="./images/flowers-decor-4.png" alt="" aria-hidden="true")

      h2.visually-hidden.promotion__title Статья о букете роз

      .container.promotion__container
        .promotion__row
          article.promotion-card
            .promotion-card__inner
              p.promotion-card__text Как же прекрасна роза! Несмотря на существование огромного количества сортов декоративных растений, «королева» остаётся самой востребованной и любимой. Букет из роз – однозначно беспроигрышный вариант. Он покорит сердце как девушки, так и зрелой женщины. Чем больше единиц в композиции, тем сильнее эмоции у представительниц прекрасного пола! Оформление и внешний вид растений играют тоже не последнюю роль. Всегда чувствуется, когда букет составлен профессионально и с любовь. Хотите сделать приятный сюрприз и вызвать бурный восторг? Смело заказывайте букет из роз с доставкой к порогу любимой женщины. Наши флористы с любовью создают композиции, вкладывая частичку своего сердца и души. Цветочный подарок от компании Flowers-Ukraine состоит только из свежесрезанных растений и излучает положительную энергетику.

              h3.promotion-card__title Когда уместно заказать букет роз?

              p.promotion-card__text Что может быть лучше момента, когда курьер стоит у порога с огромным букетом роз? В такой ситуации на лице возникает удивление, а в голове – вопрос: «Кто же заказал на дом эти прекрасные цветы?». Радость – вот внутреннее состояние получателя. Заказать букет роз с доставкой на конкретный адрес в том или ином городе Украины можно с поводом или без. Он станет красивым жестом от мужчины, подтверждением знаменательности даты и величия торжества. 

              .promotion-card__link-block
                a(href="./article.html").promotion-card__read-more Читать далее

    include includes/sections/map








