extends base/template

block variables
  -
    var title = 'Форум'

block content
  main#main.main
    section.section#forum-section.forum-section
      img.flowers-decor.forum-section__decor.forum-section__decor_1(src="./images/flowers-decor-1.png" alt="" aria-hidden="true")
      img.flowers-decor.forum-section__decor.forum-section__decor_2(src="./images/flowers-decor-1.png" alt="" aria-hidden="true")
      img.flowers-decor.forum-section__decor.forum-section__decor_3(src="./images/flowers-decor-1.png" alt="" aria-hidden="true")
      img.flowers-decor.forum-section__decor.forum-section__decor_4(src="./images/flowers-decor-1.png" alt="" aria-hidden="true")

      .container.section__container.forum-section__container
        .section__row.forum-section__row
          header.section__header.forum-section__header
            ul.bread-crumbs.section__bread-crumbs
              li.bread-crumbs__item
                a(href="./index.html").white-underline-link.bread-crumbs__link Главная
              li.bread-crumbs__item
                a.bread-crumbs__link Форум

            h2.section__title.forum-section__title Форум

          .forum-section-area
            p.forum-section-area__text Наша компания заботиться о каждом клиенте и старается постоянно усовершенствоваться. Поэтому согласно закона «Про защиту прав потребителя» если купленный товар вам не подошел по какой - то из причин, имеет заводские дефекты, Вы имеете право вернуть или обменять товар в течении 14 дней с момента его покупки.

            ul.questions-accordion
              li.questions-accordion__item
                button(type="button" aria-expanded="false").questions-accordion__control
                  span.questions-accordion__title Как купить?
                  span.questions-accordion__icon

                div(aria-hidden="true").questions-accordion__content
                  p.questions-accordion__text Вы можете заказать товар через сайт, после чего Вам позвонит наш менеджер и обсудит все детали заказа, или сделать заказ по одному из телефонов: (xxx) xxx-xx-xx, (xxx) xxx-xx-xx, время работы в будние дни с 9:00 до 18:00, суббота с 10:00 до 16:00,

              li.questions-accordion__item
                button(type="button" aria-expanded="false").questions-accordion__control
                  span.questions-accordion__title Доставка и оплата
                  span.questions-accordion__icon

                div(aria-hidden="true").questions-accordion__content
                  p.questions-accordion__text Мы гарантируем, что все цветы будут свежими и красивыми, а наша служба доставки работает профессионально и быстро. В случае каких-либо вопросов мы всегда готовы помочь вам.

              li.questions-accordion__item
                button(type="button" aria-expanded="false").questions-accordion__control
                  span.questions-accordion__title О нашем магазине
                  span.questions-accordion__icon

                div(aria-hidden="true").questions-accordion__content
                  p.questions-accordion__text Купить товар у нас Вы можете, позвоним по одному из наших телефонов или оформить товар купив его через наш магазин, после чего с Вами свяжется наш менеджер и обговорить все детали.

              li.questions-accordion__item
                button(type="button" aria-expanded="false").questions-accordion__control
                  span.questions-accordion__title Как купить?
                  span.questions-accordion__icon

                div(aria-hidden="true").questions-accordion__content
                  p.questions-accordion__text Вы можете заказать товар через сайт, после чего Вам позвонит наш менеджер и обсудит все детали заказа, или сделать заказ по одному из телефонов: (xxx) xxx-xx-xx, (xxx) xxx-xx-xx, время работы в будние дни с 9:00 до 18:00, суббота с 10:00 до 16:00,

              li.questions-accordion__item
                button(type="button" aria-expanded="false").questions-accordion__control
                  span.questions-accordion__title Доставка и оплата
                  span.questions-accordion__icon

                div(aria-hidden="true").questions-accordion__content
                  p.questions-accordion__text Мы гарантируем, что все цветы будут свежими и красивыми, а наша служба доставки работает профессионально и быстро. В случае каких-либо вопросов мы всегда готовы помочь вам.

              li.questions-accordion__item
                button(type="button" aria-expanded="false").questions-accordion__control
                  span.questions-accordion__title О нашем магазине
                  span.questions-accordion__icon

                div(aria-hidden="true").questions-accordion__content
                  p.questions-accordion__text Купить товар у нас Вы можете, позвоним по одному из наших телефонов или оформить товар купив его через наш магазин, после чего с Вами свяжется наш менеджер и обговорить все детали.

            p.forum-section-area__text Купить товар у нас Вы можете, позвонив по одному из наших телефонов или оформить товар купив его через наш магазин, после чего с Вами свяжется наш менеджер и обговорить все детали.

    include includes/sections/map