extends base/template

block variables
  -
    var title = 'Новости'

block content
  main#main.main
    section.section#news.news
      img.flowers-decor.news__decor.news__decor_1(src="./images/src/flowers-decor-5.png" alt="" aria-hidden="true")
      img.flowers-decor.news__decor.news__decor_2(src="./images/src/flowers-decor-1.png" alt="" aria-hidden="true")
      img.flowers-decor.news__decor.news__decor_3(src="./images/src/flowers-decor-5.png" alt="" aria-hidden="true")
      img.flowers-decor.news__decor.news__decor_4(src="./images/src/flowers-decor-1.png" alt="" aria-hidden="true")
      img.flowers-decor.news__decor.news__decor_5(src="./images/src/flowers-decor-5.png" alt="" aria-hidden="true")
      img.big.flowers-decor.news__decor.news__decor_6(src="./images/src/flowers-decor-3.png" alt="" aria-hidden="true")

      .container.section__container.news__container
        .section__row.news__row
          header.section__header.news__header
            ul.bread-crumbs.section__bread-crumbs
              li.bread-crumbs__item
                a(href="./index.html").white-underline-link.bread-crumbs__link Главная
              li.bread-crumbs__item
                a.bread-crumbs__link Новости

            h2.section__title.news__title Новости

          .news-area
            .news-area__grid
              article.forum-card
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-1.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Какие цветы под запретом: что нельзя дарить
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-2.jpg" alt="Как сохранить букет свежим: советы и рекомендации")

                  .forum-card__text-block
                    h3.forum-card__title Как сохранить букет свежим: советы и рекомендации
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-3.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Цветочный этикет - как правильно дарить цветы
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...
              
              article.forum-card
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-1.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Какие цветы под запретом: что нельзя дарить
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-2.jpg" alt="Как сохранить букет свежим: советы и рекомендации")

                  .forum-card__text-block
                    h3.forum-card__title Как сохранить букет свежим: советы и рекомендации
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-3.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Цветочный этикет - как правильно дарить цветы
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...
              
              article.forum-card
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-1.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Какие цветы под запретом: что нельзя дарить
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-2.jpg" alt="Как сохранить букет свежим: советы и рекомендации")

                  .forum-card__text-block
                    h3.forum-card__title Как сохранить букет свежим: советы и рекомендации
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-3.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Цветочный этикет - как правильно дарить цветы
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...
              
              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-1.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Какие цветы под запретом: что нельзя дарить
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-2.jpg" alt="Как сохранить букет свежим: советы и рекомендации")

                  .forum-card__text-block
                    h3.forum-card__title Как сохранить букет свежим: советы и рекомендации
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-3.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Цветочный этикет - как правильно дарить цветы
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...
              
              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-1.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Какие цветы под запретом: что нельзя дарить
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-2.jpg" alt="Как сохранить букет свежим: советы и рекомендации")

                  .forum-card__text-block
                    h3.forum-card__title Как сохранить букет свежим: советы и рекомендации
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-3.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Цветочный этикет - как правильно дарить цветы
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...
              
              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-1.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Какие цветы под запретом: что нельзя дарить
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-2.jpg" alt="Как сохранить букет свежим: советы и рекомендации")

                  .forum-card__text-block
                    h3.forum-card__title Как сохранить букет свежим: советы и рекомендации
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-3.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Цветочный этикет - как правильно дарить цветы
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...
              
              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-1.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Какие цветы под запретом: что нельзя дарить
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-2.jpg" alt="Как сохранить букет свежим: советы и рекомендации")

                  .forum-card__text-block
                    h3.forum-card__title Как сохранить букет свежим: советы и рекомендации
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-3.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Цветочный этикет - как правильно дарить цветы
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...
              
              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-1.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Какие цветы под запретом: что нельзя дарить
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-2.jpg" alt="Как сохранить букет свежим: советы и рекомендации")

                  .forum-card__text-block
                    h3.forum-card__title Как сохранить букет свежим: советы и рекомендации
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-3.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Цветочный этикет - как правильно дарить цветы
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...
              
              article.forum-card.hide
                .forum-card__inner
                  a(href="./article.html").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/forum-1.jpg" alt="Какие цветы под запретом: что нельзя дарить")

                  .forum-card__text-block
                    h3.forum-card__title Какие цветы под запретом: что нельзя дарить
                    p.forum-card__descr Осведомленности в сфере новых трендов цветочного дизайна и знакомства с работами...
                    .forum-card__link-block
                      a(href="./article.html").forum-card__link-more Читать далее...

            .items-pagination
              button(type="button" data-what-is="news").action-btn.load-more.items-pagination__more
                span.load-more__text Еще #[span.load-more__count] 

              .items-pagination__pagination
                .cards-pagination
                  button(type="button").cards-pagination__arrow.cards-pagination__arrow_prev.disable
                    span.help-text.visually-hidden На предыдущую страницу
                  
                    img(src="./images/src/arrow-prev-icon.svg" alt="" aria-hidden="true")
                  button(type="button").cards-pagination__arrow.cards-pagination__arrow_next
                    span.help-text.visually-hidden На следующую страницу
                    img(src="./images/src/arrow-next-icon.svg" alt="" aria-hidden="true")
                    
                  ul.cards-pagination__list
                    li.cards-pagination__item.active
                      a(href="#").cards-pagination__link 1
                    li.cards-pagination__item
                      a(href="#").cards-pagination__link 2
                    li.cards-pagination__item
                      a(href="#").cards-pagination__link 3
                    li.cards-pagination__item
                      a(href="#").cards-pagination__link 4
                    li.cards-pagination__item
                      a(href="#").cards-pagination__link 5
                    li.cards-pagination__item
                      a(href="#").cards-pagination__link 6
                    li.cards-pagination__item
                      a(href="#").cards-pagination__link 7

    include includes/sections/map