extends base/template

block variables
  -
    var title = '25 желтых тюльпанов'

block content
  main#main.main
    section.section.product
      img.flowers-decor.product__decor.product__decor_1(src="./images/src/flowers-decor-1.png" alt="" aria-hidden="true")
      img.flowers-decor.product__decor.product__decor_2(src="./images/src/flowers-decor-3.png" alt="" aria-hidden="true")

      .container.section__container.product__container
        .section__row.product__row
          header.section__header.product__header
            ul.bread-crumbs.section__bread-crumbs
              li.bread-crumbs__item
                a(href="./index.html").white-underline-link.bread-crumbs__link Главная
              li.bread-crumbs__item
                a(href="./catalog.html").white-underline-link.bread-crumbs__link Каталог
              li.bread-crumbs__item
                a.bread-crumbs__link 25 желтых тюльпанов

            h2.visually-hidden.product__title 25 желтых тюльпанов

          .product-area
            .product-area__sliders
              .swiper.product-main-slider
                span.product-discount 10%
                button(type="button").product-to-favourite
                  <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                  </svg>

                .swiper-wrapper.product-main-slider__wrapper
                  .swiper-slide.product-main-slider__slide
                    img(src="./images/src/product-main-slide-1.jpg" alt="25 желтых тюльпанов")
                  .swiper-slide.product-main-slider__slide
                    img(src="./images/src/product-main-slide-1.jpg" alt="25 желтых тюльпанов")
                  .swiper-slide.product-main-slider__slide
                    img(src="./images/src/product-main-slide-1.jpg" alt="25 желтых тюльпанов")
                  .swiper-slide.product-main-slider__slide
                    img(src="./images/src/product-main-slide-1.jpg" alt="25 желтых тюльпанов")
                  .swiper-slide.product-main-slider__slide
                    img(src="./images/src/product-main-slide-1.jpg" alt="25 желтых тюльпанов")
                  .swiper-slide.product-main-slider__slide
                    img(src="./images/src/product-main-slide-1.jpg" alt="25 желтых тюльпанов")

              .swiper.product-thumbs-slider
                .swiper-wrapper.product-thumbs-slider__wrapper
                  .swiper-slide.product-thumbs-slider__slide
                    img(src="./images/src/product-thumb-slide-1.jpg" alt="25 желтых тюльпанов")
                  .swiper-slide.product-thumbs-slider__slide
                    img(src="./images/src/product-thumb-slide-2.jpg" alt="25 желтых тюльпанов")
                  .swiper-slide.product-thumbs-slider__slide
                    img(src="./images/src/product-thumb-slide-3.jpg" alt="25 желтых тюльпанов")
                  .swiper-slide.product-thumbs-slider__slide
                    img(src="./images/src/product-thumb-slide-1.jpg" alt="25 желтых тюльпанов")
                  .swiper-slide.product-thumbs-slider__slide
                    img(src="./images/src/product-thumb-slide-2.jpg" alt="25 желтых тюльпанов")
                  .swiper-slide.product-thumbs-slider__slide
                    img(src="./images/src/product-thumb-slide-3.jpg" alt="25 желтых тюльпанов")


            .product-area__description
              .product-area__link-block
                a(href="#").product-area__category Букеты из тюльпанов

              span.product-area__title 25 желтых тюльпанов

              .stock-rate-prices-block.product-area__union
                .stock-rate.product-area__line
                  span.product-area__in-stock В наличии
                  .product-area__raiting
                    span.visually-hidden Оценка: 5 из 5
                    img(src="./images/src/star-icon.svg" alt="" aria-hidden="true")
                    img(src="./images/src/star-icon.svg" alt="" aria-hidden="true")
                    img(src="./images/src/star-icon.svg" alt="" aria-hidden="true")
                    img(src="./images/src/star-icon.svg" alt="" aria-hidden="true")
                    img(src="./images/src/star-icon.svg" alt="" aria-hidden="true")
                    img(src="./images/src/star-icon.svg" alt="" aria-hidden="true")

                .prices.product-area__line
                  ins.product-area__new-price 795.00грн.
                  del.product-area__old-price 995.00грн.

              table.product-area-table
                tr.product-area-table__row
                  td.product-area-table__col.product-area-table__title Цветы
                  td.product-area-table__col.product-area-table__value 25 желтых тюльпанов
                tr.product-area-table__row
                  td.product-area-table__col.product-area-table__title Размер
                  td.product-area-table__col.product-area-table__value 50-60 см
                tr.product-area-table__row
                  td.product-area-table__col.product-area-table__title Материалы
                  td.product-area-table__col.product-area-table__value Декоративный флористический материал
                tr.product-area-table__row
                  td.product-area-table__col.product-area-table__title Дополнительно
                  td.product-area-table__col.product-area-table__value Оформление

              .order
                .product-counter
                  button(type="button").product-counter__button.product-counter__minus
                    span.visually-hidden Добавить в корзину ещё один товар
                    <svg class="product-counter__icon" aria-hidden="true" width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.96029 1L2 7.5L7.96029 14" stroke="#BDBDBD" stroke-width="1.5"/>
                    </svg>
                  .product-counter__value 1                  
                  button(type="button").product-counter__button.product-counter__plus
                    span.visually-hidden Добавить в корзину ещё один товар
                    <svg class="product-counter__icon" aria-hidden="true" width="8" height="15" viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0.624668 14L6.58496 7.5L0.624668 1" stroke="#BDBDBD" stroke-width="1.5"/>
                    </svg>

                button(type="button").action-btn.order__button В корзину

              .tel-order
                span.tel-order__title Быстрый заказ
                
                .white-area.tel-order__input-block
                  input(type="tel" name="tel" required).white-area__input.tel-order__input
                  span.white-area__input-label.tel-order__input-label Номер телефона

                  button(type="button").action-btn.tel-order__button.tel-order__button_big Быстрый заказ
                  button(type="button").action-btn.tel-order__button.tel-order__button_small
                    span.visually-hidden Быстрый заказ
                    img(src="./images/src/airplane-icon.svg" alt="" aria-hidden="true")

              .tabs
                .tabs__header
                  button(type="button").tabs__tab.tabs__tab_1 Доставка
                  button(type="button").tabs__tab.tabs__tab_2.active Описание
                  button(type="button").tabs__tab.tabs__tab_3 Отзывы(12)

                .tabs-content
                  .tabs-content__inner.tabs-content__inner_1
                    p.tabs-content__text Следует отметить, что постоянное информационно-пропагандистское обеспечение нашей деятельности требует анализа как самодостаточных, так и внешне зависимых концептуальных решений. Внезапно, стремящиеся вытеснить традиционное производство, нанотехнологии могут быть разоблачены. Как принято считать, тщательные исследования конкурентов объединены в целые кластеры себе подобных. Повседневная практика показывает, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании дальнейших направлений развития.
                  .tabs-content__inner.tabs-content__inner_2.active
                    p.tabs-content__text Тюльпан - символ любви, весеннего обновления, счастья, теплой и солнечной погоды и хорошего приподнятого настроения! Тюльпан отличается элегантностью форм и изысканностью линий. Если Вы подбираете букет цветов для близкого, дорогого человека, коллеге по работе, то, как нельзя, кстати, придутся нежные чарующие тюльпаны. Преподнося тюльпаны Вы дарите частичку легкого и весеннего настроения!
                  .tabs-content__inner.tabs-content__inner_3
                    ul.tabs-content__list
                      li.tabs-content__review
                        span.tabs-content__review-name Марина
                        p.tabs-content__review-text Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. Путь по всей свой на берегу заглавных предупредила напоивший, первую взобравшись речью.
                      li.tabs-content__review
                        a(href="#").tabs-content__review-link Смотреть все отзывы

    section(data-max-slides-on-slide="2")#products-1.products.products-1.related-products
      img.flowers-decor.related-products__decor.related-products__decor_1(src="./images/flowers-decor-1.png" alt="" aria-hidden="true")
      img.flowers-decor.related-products__decor.related-products__decor_2(src="./images/flowers-decor-1.png" alt="" aria-hidden="true")

      .container.products__container
        .products__row
          header.products__top-line
            h2.section-title.products__title Сопутствующие товары
            
            //- Стрелки для слайдера
            .slider-arrows.products-1__arrows.products__arrows
              button(type="button").products-arrow.products-1-arrow-prev.products-arrow-prev
                <svg class="products-arrow-prev__icon" aria-hidden="true" width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.574258 13.0104L12.6138 1.30589C13.3797 0.560961 14.6214 0.560961 15.3869 1.30589C16.1524 2.05016 16.1524 3.25729 15.3869 4.0015L4.73374 14.3582L15.3866 24.7145C16.1521 25.459 16.1521 26.6661 15.3866 27.4103C14.621 28.1549 13.3794 28.1549 12.6135 27.4103L0.573948 15.7057C0.191172 15.3334 0 14.8459 0 14.3582C0 13.8703 0.191544 13.3825 0.574258 13.0104Z" fill="#956D84"/>
                </svg>
              button(type="button").products-arrow.products-1-arrow-next.products-arrow-next
                <svg class="products-arrow-next__icon" aria-hidden="true" width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.3869 13.0104L3.34735 1.30589C2.58149 0.560961 1.33978 0.560961 0.574286 1.30589C-0.191266 2.05016 -0.191266 3.25729 0.574286 4.0015L11.2274 14.3582L0.574596 24.7145C-0.190956 25.459 -0.190956 26.6661 0.574596 27.4103C1.34015 28.1549 2.5818 28.1549 3.34766 27.4103L15.3872 15.7057C15.77 15.3334 15.9612 14.8459 15.9612 14.3582C15.9612 13.8703 15.7696 13.3825 15.3869 13.0104Z" fill="#956D84"/>
                </svg>
            
          //- Пагинация для слайдера
          .pagination.products-1__pagination.products__pagination

          .products-grid.products__grid
            .products-grid__inner
              .swiper.products-slider.products-1-slider
                .swiper-wrapper.products-slider__wrapper
                  .swiper-slide.products-cards.products-slider__slide
                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="./product.html").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -19%

                          img.product-card__image(src="./images/src/product-card-image-1.png" alt="сто одна красная роза")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>
                          
                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title 101 красная роза
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 2280 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="#").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -10%

                          img.product-card__image(src="./images/src/product-card-image-2.png" alt="25 розовых пионовидных роз")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>

                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title 25 розовых пионовидных роз
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 1680 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="#").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -19%

                          img.product-card__image(src="./images/src/product-card-image-3.png" alt="букет влюбленность")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>

                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title Влюбленность
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 1270 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="#").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -19%

                          img.product-card__image(src="./images/src/product-card-image-4.png" alt="корзина все для тебя")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>

                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title Корзина все для тебя
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 2020 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ
                            
                  .swiper-slide.products-cards.products-slider__slide
                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="#").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -19%

                          img.product-card__image(src="./images/src/product-card-image-1.png" alt="сто одна красная роза")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>
                          
                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title 101 красная роза
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 2280 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="#").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -10%

                          img.product-card__image(src="./images/src/product-card-image-2.png" alt="25 розовых пионовидных роз")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>

                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title 25 розовых пионовидных роз
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 1680 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="#").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -19%

                          img.product-card__image(src="./images/src/product-card-image-3.png" alt="букет влюбленность")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>

                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title Влюбленность
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 1270 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="#").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -19%

                          img.product-card__image(src="./images/src/product-card-image-4.png" alt="корзина все для тебя")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>

                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title Корзина все для тебя
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 2020 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

    section(data-max-slides-on-slide="2")#products-2.products.products-2.you-checked
      img.flowers-decor.you-checked__decor.you-checked__decor_1(src="./images/flowers-decor-1.png" alt="" aria-hidden="true")
      img.flowers-decor.you-checked__decor.you-checked__decor_2(src="./images/flowers-decor-1.png" alt="" aria-hidden="true")

      .container.products__container
        .products__row
          header.products__top-line
            h2.section-title.products__title Вы просматривали
            
            //- Стрелки для слайдера
            .slider-arrows.products-2__arrows.products__arrows
              button(type="button").products-arrow.products-2-arrow-prev.products-arrow-prev
                <svg class="products-arrow-prev__icon" aria-hidden="true" width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.574258 13.0104L12.6138 1.30589C13.3797 0.560961 14.6214 0.560961 15.3869 1.30589C16.1524 2.05016 16.1524 3.25729 15.3869 4.0015L4.73374 14.3582L15.3866 24.7145C16.1521 25.459 16.1521 26.6661 15.3866 27.4103C14.621 28.1549 13.3794 28.1549 12.6135 27.4103L0.573948 15.7057C0.191172 15.3334 0 14.8459 0 14.3582C0 13.8703 0.191544 13.3825 0.574258 13.0104Z" fill="#956D84"/>
                </svg>
              button(type="button").products-arrow.products-2-arrow-next.products-arrow-next
                <svg class="products-arrow-next__icon" aria-hidden="true" width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.3869 13.0104L3.34735 1.30589C2.58149 0.560961 1.33978 0.560961 0.574286 1.30589C-0.191266 2.05016 -0.191266 3.25729 0.574286 4.0015L11.2274 14.3582L0.574596 24.7145C-0.190956 25.459 -0.190956 26.6661 0.574596 27.4103C1.34015 28.1549 2.5818 28.1549 3.34766 27.4103L15.3872 15.7057C15.77 15.3334 15.9612 14.8459 15.9612 14.3582C15.9612 13.8703 15.7696 13.3825 15.3869 13.0104Z" fill="#956D84"/>
                </svg>
            
          //- Пагинация для слайдера
          .pagination.products-2__pagination.products__pagination

          .products-grid.products__grid
            .products-grid__inner
              .swiper.products-slider.products-2-slider
                .swiper-wrapper.products-slider__wrapper
                  .swiper-slide.products-cards.products-slider__slide
                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="./product.html").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -19%

                          img.product-card__image(src="./images/src/product-card-image-1.png" alt="сто одна красная роза")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>
                          
                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title 101 красная роза
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 2280 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="#").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -10%

                          img.product-card__image(src="./images/src/product-card-image-2.png" alt="25 розовых пионовидных роз")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>

                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title 25 розовых пионовидных роз
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 1680 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="#").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -19%

                          img.product-card__image(src="./images/src/product-card-image-3.png" alt="букет влюбленность")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>

                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title Влюбленность
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 1270 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="#").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -19%

                          img.product-card__image(src="./images/src/product-card-image-4.png" alt="корзина все для тебя")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>

                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title Корзина все для тебя
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 2020 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ
                            
                  .swiper-slide.products-cards.products-slider__slide
                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="#").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -19%

                          img.product-card__image(src="./images/src/product-card-image-1.png" alt="сто одна красная роза")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>
                          
                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title 101 красная роза
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 2280 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="#").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -10%

                          img.product-card__image(src="./images/src/product-card-image-2.png" alt="25 розовых пионовидных роз")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>

                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title 25 розовых пионовидных роз
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 1680 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="#").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -19%

                          img.product-card__image(src="./images/src/product-card-image-3.png" alt="букет влюбленность")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>

                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star
                            img(src="./images/src/star-icon.svg" alt="" aria-hidden="true").product-card-text-block-raiting-star

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title Влюбленность
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 1270 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ

                    article.product-card.products-grid__card
                      .product-card-image-block
                        a(href="#").product-card__link
                          .product-card-image-block__top-line
                            span.product-discount.product-card__discount -19%

                          img.product-card__image(src="./images/src/product-card-image-4.png" alt="корзина все для тебя")

                        .product-card-image-block__bottom-line
                          .product-card__in-top TOP

                        button(type="button").product-to-favourite.product-card__to-favourite
                          <svg class="favourite-icon" aria-hidden="true" width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path class="favourite-icon__path" d="M20 34.6938L17.5834 32.5488C9.00004 24.96 3.33337 19.9387 3.33337 13.8125C3.33337 8.79125 7.36671 4.875 12.5 4.875C15.4 4.875 18.1834 6.19125 20 8.255C21.8167 6.19125 24.6 4.875 27.5 4.875C32.6334 4.875 36.6667 8.79125 36.6667 13.8125C36.6667 19.9387 31 24.96 22.4167 32.5488L20 34.6938Z" fill="#956D84"/>
                          </svg>

                      .product-card-text-block
                        .product-card-text-block__inner
                          .product-card-text-block__raiting

                          .product-card-text-block__middle-line
                            h3.product-card-text-block__title Корзина все для тебя
                            .product-card-text-block-price
                              del.product-card-text-block-price__old 2800 грн
                              ins.product-card-text-block-price__new 2020 грн

                          .product-card-text-block__bottom-line
                            button(type="button").action-btn.product-card__get-order
                              span.action-btn__inner
                                span.action-btn__text Заказать
                            button(type="button" data-popup-selector=".tel-popup").trigger.product-card__quick-order Быстрый заказ
                            
    include includes/sections/map
