extends base/template

block variables
  -
    var title = 'Видеоотчеты'

block content
  main#main.main
    section.section#card-reviews.card-reviews
      img.flowers-decor.card-reviews__decor.card-reviews__decor_1(src="./images/src/flowers-decor-1.png" alt="" aria-hidden="true")
      img.flowers-decor.card-reviews__decor.card-reviews__decor_2(src="./images/src/flowers-decor-1.png" alt="" aria-hidden="true")
      img.flowers-decor.card-reviews__decor.card-reviews__decor_3(src="./images/src/flowers-decor-1.png" alt="" aria-hidden="true")
      img.flowers-decor.card-reviews__decor.card-reviews__decor_4(src="./images/src/flowers-decor-1.png" alt="" aria-hidden="true")

      .container.section__container.card-reviews__container
        .section__row.card-reviews__row
          header.section__header.card-reviews__header
            ul.bread-crumbs.section__bread-crumbs
              li.bread-crumbs__item
                a(href="./index.html").white-underline-link.bread-crumbs__link Главная
              li.bread-crumbs__item
                a.bread-crumbs__link Видеоотчеты

            h2.section__title.card-reviews__title Видеоотчеты

          .card-reviews-area
            .card-reviews-area__grid
              article.forum-card
                .forum-card__inner
                  a(data-fancybox="videos" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/video-review-1.jpg" alt="Видео отзыв Александра Романовича")

                      img.forum-card__play-icon(src="./images/src/play-icon.svg" alt="" aria-hidden="true")

                  .forum-card__text-block
                    time.forum-card__date 11.12.2020
                    h3.forum-card__title Видео отзыв Александра Романовича
              article.forum-card
                .forum-card__inner
                  .forum-card__row
                    a(data-fancybox="videos" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ").forum-card__row
                      .forum-card__image-block 
                        img.forum-card__image(src="./images/src/video-review-1.jpg" alt="Видео отзыв Александра Романовича")

                        img.forum-card__play-icon(src="./images/src/play-icon.svg" alt="" aria-hidden="true")

                  .forum-card__text-block
                    time.forum-card__date 11.12.2020
                    h3.forum-card__title Видео отзыв Александра Романовича
              article.forum-card
                .forum-card__inner
                  a(data-fancybox="videos" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/video-review-1.jpg" alt="Видео отзыв Александра Романовича")

                      img.forum-card__play-icon(src="./images/src/play-icon.svg" alt="" aria-hidden="true")

                  .forum-card__text-block
                    time.forum-card__date 11.12.2020
                    h3.forum-card__title Видео отзыв Александра Романовича
              article.forum-card
                .forum-card__inner
                  a(data-fancybox="videos" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/video-review-1.jpg" alt="Видео отзыв Александра Романовича")

                      img.forum-card__play-icon(src="./images/src/play-icon.svg" alt="" aria-hidden="true")

                  .forum-card__text-block
                    time.forum-card__date 11.12.2020
                    h3.forum-card__title Видео отзыв Александра Романовича

              article.forum-card
                .forum-card__inner
                  a(data-fancybox="videos" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/video-review-1.jpg" alt="Видео отзыв Александра Романовича")

                      img.forum-card__play-icon(src="./images/src/play-icon.svg" alt="" aria-hidden="true")

                  .forum-card__text-block
                    time.forum-card__date 11.12.2020
                    h3.forum-card__title Видео отзыв Александра Романовича
              article.forum-card
                .forum-card__inner
                  .forum-card__row
                    a(data-fancybox="videos" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ").forum-card__row
                      .forum-card__image-block 
                        img.forum-card__image(src="./images/src/video-review-1.jpg" alt="Видео отзыв Александра Романовича")

                        img.forum-card__play-icon(src="./images/src/play-icon.svg" alt="" aria-hidden="true")

                  .forum-card__text-block
                    time.forum-card__date 11.12.2020
                    h3.forum-card__title Видео отзыв Александра Романовича
              article.forum-card
                .forum-card__inner
                  a(data-fancybox="videos" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/video-review-1.jpg" alt="Видео отзыв Александра Романовича")

                      img.forum-card__play-icon(src="./images/src/play-icon.svg" alt="" aria-hidden="true")

                  .forum-card__text-block
                    time.forum-card__date 11.12.2020
                    h3.forum-card__title Видео отзыв Александра Романовича
              article.forum-card
                .forum-card__inner
                  a(data-fancybox="videos" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ").forum-card__row
                    .forum-card__image-block 
                      img.forum-card__image(src="./images/src/video-review-1.jpg" alt="Видео отзыв Александра Романовича")

                      img.forum-card__play-icon(src="./images/src/play-icon.svg" alt="" aria-hidden="true")

                  .forum-card__text-block
                    time.forum-card__date 11.12.2020
                    h3.forum-card__title Видео отзыв Александра Романовича

            .items-pagination
              button(type="button" data-what-is="videos-reviews").action-btn.load-more.items-pagination__more
                span.load-more__text Еще #[span.load-more__count] 

              .items-pagination__pagination
                .cards-pagination
                  button(type="button").cards-pagination__arrow.cards-pagination__arrow_prev.disable
                    span.help-text.visually-hidden На предыдущую страницу
                  
                    img(src="./images/src/arrow-prev-icon.svg" alt="" aria-hidden="true")
                  button(type="button").cards-pagination__arrow.cards-pagination__arrow_next
                    span.help-text.visually-hidden На следующую страницу
                    img(src="./images/src/arrow-next-icon.svg" alt="" aria-hidden="true")
                    
                  ul.cards-pagination__list
                    li.cards-pagination__item.active
                      a(href="#").cards-pagination__link 1
                    li.cards-pagination__item
                      a(href="#").cards-pagination__link 2
                    li.cards-pagination__item
                      a(href="#").cards-pagination__link 3
                    li.cards-pagination__item
                      a(href="#").cards-pagination__link 4
                    li.cards-pagination__item
                      a(href="#").cards-pagination__link 5
                    li.cards-pagination__item
                      a(href="#").cards-pagination__link 6
                    li.cards-pagination__item
                      a(href="#").cards-pagination__link 7

    include includes/sections/map