@font-face {
  font-family: 'Museo Sans Cyrl';
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/Museo-Sans-Cyrl-300.ttf) format("truetype");
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Museo-Sans-Cyrl-700.ttf) format("truetype");
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/Museo-Sans-Cyrl-900.ttf) format("truetype");
}

@font-face {
  font-family: 'Euclid Circular';
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/EuclidCircularB-400.ttf) format("truetype");
}