// Пагинация для слайдера
.pagination {
  display: flex !important;
  justify-content: center !important;
  transform: translate(-50%, 0) !important;

  .swiper-pagination-bullet {
    color: #fff;
    background: currentColor;
    opacity: 1 !important;
    width: 4px;
    height: 4px;

    &-active {
      outline: 1px solid currentColor;
      outline-offset: 2px;
    }
  }
}

// Стрелки навигации
.slider-arrows {
  margin-left: auto;
  display: flex;
  column-gap: 27px;

  .products-arrow {
    background: none;
    border: none;
    cursor: pointer;
    transition: opacity ease .2s;    

    &.disable {
      opacity: .2 !important;
      cursor: default;
    }

    @media (pointer: fine) {
      &:hover {
        opacity: .7;
      }

      &:active {
        opacity: .4;
      }
    }
  }
}
