.menu#menu-filter.menu-mobile.menu-filter
  .menu__row
    .menu__header
      span.menu__title Фильтр
      button(type="button").menu__close
        img(src="./images/close-icon.svg" alt="закрыть меню")

    .menu__content
      .menu-field.reset-field
        button(type="button").action-btn.menu-filter__reset Скинуть фильтр

      .menu__area
        .menu-field.menu-filter__option.for-who-field
          span.menu-field__title.for-who-field__title Кому
          button(type="button" data-options-popup=".filter-options-recipient").menu-filter__button.menu-field__value.for-who-field__value 
            span.menu-field__value-label Выберите
        .menu-field.menu-filter__option.color-field
          span.menu-field__title.color-field__title По цвету
          button(type="button" data-options-popup=".filter-options-color").menu-filter__button.menu-field__value.color-field__value
            span.menu-field__value-label Выберите
        .menu-field.menu-filter__option.reason-field
          span.menu-field__title.reason-field__title Повод
          button(type="button" data-options-popup=".filter-options-reason").menu-filter__button.menu-field__value.reason-field__value
            span.menu-field__value-label Выберите


      ul.menu-links
        li.menu-links-item
          .menu-drop.menu-links-item__link
            span.menu-drop__title.menu-links-item__title Букеты

              i.black.menu-drop__icon

            ul.inner-list.menu-link-item__inner-list
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Белые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Алые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Бирюзовые лилии
        li.menu-links-item
          .menu-drop.menu-links-item__link
            span.menu-drop__title.menu-links-item__title Розы

              i.black.menu-drop__icon

            ul.inner-list.menu-link-item__inner-list
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Белые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Алые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Бирюзовые лилии
        li.menu-links-item
          .menu-drop.menu-links-item__link
            span.menu-drop__title.menu-links-item__title Цветы в коробке

              i.black.menu-drop__icon

            ul.inner-list.menu-link-item__inner-list
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Белые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Алые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Бирюзовые лилии
        li.menu-links-item
          .menu-drop.menu-links-item__link
            span.menu-drop__title.menu-links-item__title Композиции

              i.black.menu-drop__icon

            ul.inner-list.menu-link-item__inner-list
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Белые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Алые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Бирюзовые лилии
        li.menu-links-item
          .menu-drop.menu-links-item__link
            span.menu-drop__title.menu-links-item__title Подарки

              i.black.menu-drop__icon

            ul.inner-list.menu-link-item__inner-list
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Белые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Алые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Бирюзовые лилии
        li.menu-links-item
          .menu-drop.menu-links-item__link
            span.menu-drop__title.menu-links-item__title Подарочные корзины

              i.black.menu-drop__icon

            ul.inner-list.menu-link-item__inner-list
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Белые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Алые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Бирюзовые лилии
        li.menu-links-item
          .menu-drop.menu-links-item__link
            span.menu-drop__title.menu-links-item__title Букеты невесты

              i.black.menu-drop__icon

            ul.inner-list.menu-link-item__inner-list
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Белые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Алые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Бирюзовые лилии
        li.menu-links-item
          .menu-drop.menu-links-item__link
            span.menu-drop__title.menu-links-item__title Вкусные букеты

              i.black.menu-drop__icon

            ul.inner-list.menu-link-item__inner-list
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Белые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Алые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Бирюзовые лилии
