footer#footer.footer
  img.flowers-decor.footer__decor.footer__decor_1(src="./images/src/flowers-decor-footer-1.png" alt="" aria-hidden="true")
  img.flowers-decor.footer__decor.footer__decor_2(src="./images/src/flowers-decor-footer-2.png" alt="" aria-hidden="true")


  .container.footer__container
    .footer__row
      .footer__top
        .footer__logo
          img(src="./images/src/logo-light.svg" alt="Flowers Ukraine Логотип")

        .footer__lists
          .menu-drop.footer-block
            span.menu-drop__title.footer-block__title Информация

              i.black.menu-drop__icon

            ul.inner-list.footer-list
              li.inner-list-item.footer-list__item
                a(href="#").inner-list-item__title.footer-list__link О нас
              li.inner-list-item.footer-list__item
                a(href="#").inner-list-item__title.footer-list__link Доставка и оплата
              li.inner-list-item.footer-list__item
                a(href="#").inner-list-item__title.footer-list__link Политика конфиденциальности

          .menu-drop.footer-block
            span.menu-drop__title.footer-block__title Служба поддержки

              i.black.menu-drop__icon

            ul.inner-list.footer-list
              li.inner-list-item.footer-list__item
                a(href="#").inner-list-item__title.footer-list__link Карта сайта
              li.inner-list-item.footer-list__item
                a(href="#").inner-list-item__title.footer-list__link Возврат товара
              li.inner-list-item.footer-list__item
                a(href="#").inner-list-item__title.footer-list__link Связаться с нами
              li.inner-list-item.footer-list__item
                a(href="#").inner-list-item__title.footer-list__link Для сотрудничества

          .menu-drop.footer-block
            span.menu-drop__title.footer-block__title Личный кабинет

              i.black.menu-drop__icon

            ul.inner-list.footer-list
              li.inner-list-item.footer-list__item
                a(href="#").inner-list-item__title.footer-list__link Личный кабинет
              li.inner-list-item.footer-list__item
                a(href="#").inner-list-item__title.footer-list__link История заказа
              li.inner-list-item.footer-list__item
                a(href="#").inner-list-item__title.footer-list__link Закладки
              li.inner-list-item.footer-list__item
                a(href="#").inner-list-item__title.footer-list__link Список новостей

          .menu-drop.footer-block
            span.menu-drop__title.footer-block__title Дополнительно

              i.black.menu-drop__icon

            ul.inner-list.footer-list
              li.inner-list-item.footer-list__item
                a(href="#").inner-list-item__title.footer-list__link Подарочные
              li.inner-list-item.footer-list__item
                a(href="#").inner-list-item__title.footer-list__link Сертификаты
              li.inner-list-item.footer-list__item
                a(href="#").inner-list-item__title.footer-list__link Акции
              li.inner-list-item.footer-list__item
                a(href="#").inner-list-item__title.footer-list__link Цветы в офис

      .footer__bottom
        span.footer__copyright Copyright &copy; 2021. Все права защищены

        .pay-methods.footer__pay-methods
          span.pay-methods__title Способы оплаты:
          ul.pay-methods__list
            li.pay-method.pay-methods__method
              img.pay-method__image(src="./images/src/pay-method-1.svg" alt="privatbank")
            li.pay-method.pay-methods__method
              img.pay-method__image(src="./images/src/pay-method-2.svg" alt="liqpay")
            li.pay-method.pay-methods__method
              img.pay-method__image(src="./images/src/pay-method-3.svg" alt="mastercard")
            li.pay-method.pay-methods__method
              img.pay-method__image(src="./images/src/pay-method-4.svg" alt="maestro")
            li.pay-method.pay-methods__method
              img.pay-method__image(src="./images/src/pay-method-5.svg" alt="visa electron")
            li.pay-method.pay-methods__method
              img.pay-method__image(src="./images/src/pay-method-6.svg" alt="visa")

