section.map#map
  .container.map__container
    .map__row
      h2.visually-hidden.map__title Карта и контактные данные

      .map-content
        #map-view.map-view.map-content__map-view

        .map-card
          .map-card__logo
            img(src="./images/logo.svg" alt="Flowers Ukraine Логотип")

          .map-card__content
            .map-card-field
              .map-card-field__title 
                img(src="./images/phone-icon.svg" alt="" aria-hidden="true")
                | Телефон:
              ul.map-card-list
                li.map-card__tel.map-card-list__item +38 (063) 829 30 30
                li.map-card__tel.map-card-list__item +38 (063) 829 30 30

            .map-card-field
              .map-card-field__title 
                img(src="./images/skype-icon.svg" alt="" aria-hidden="true")
                | Skype:
              ul.map-card-list
                li.map-card-list__item Flowers-Ukraine

            .map-card-field
              .map-card-field__title 
                img(src="./images/mail-icon.svg" alt="" aria-hidden="true")
                | Почта:
              ul.map-card-list
                li.map-card-list__item flowers.ukraine2014@gmail.com

            include ../partials/social-list-small