.menu#menu-mobile.menu-mobile
  .menu__row
    .menu__header
      span.menu__title Меню
      button(type="button").menu__close
        img(src="./images/src/close-icon.svg" alt="закрыть меню")

    .menu__content
      .menu-field.tel-field
        span.menu-field__title.tel-field__number +38 (067) 829 30 30
        a(href="tel:380678293030").small.action-btn.tel-field__button
          span.action-btn__inner.tel-field__link
            span.action-btn__text Позвонить

      .menu__area
        .menu-field.city-field
          span.menu-field__title.city-field__title Киев
          label(for="select-city-mobile").menu-field__value.city-field__value  Выберите город
            select.default-select#select-city-mobile.options-list__select(name="city")
              option(value="kiev" selected) Киев
              option(value="lvov") Львов
              option(value="kharkov") Харьков
              option(value="odessa") Одесса
        .menu-field.favourite-field
          span.menu-field__title.city-field__title Закладки
          button(type="button" data-popup-selector=".favourite-popup").trigger.favourite-field__value.menu-field__value
            img.favourite-field__icon(src="./images/src/heart-icon.svg" alt="избранное")
            span.counter 2
        .menu-field.city-field
          span.menu-field__title.city-field__title Личный кабинет
          a(href="#").menu-field__value Войти

      ul.menu-links
        li.menu-links-item
          a(href="#").menu-links-item__link
            span.menu-links-item__title Форум
        li.menu-links-item
          a(href="#").menu-links-item__link
            span.menu-links-item__title Отзывы
        li.menu-links-item
          a(href="#").menu-links-item__link
            span.menu-links-item__title Акции
        li.menu-links-item
          a(href="#").menu-links-item__link
            span.menu-links-item__title Новости
        li.menu-links-item
          .menu-drop.menu-links-item__link
            span.menu-drop__title.menu-links-item__title Информация

              i.black.menu-drop__icon

            ul.inner-list.menu-link-item__inner-list
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Белые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Алые розы
              li.inner-list-item
                a(href="#").inner-list-item__link
                  span.inner-list-item__title Бирюзовые лилии

        li.menu-links-item.highlighted
          a(href="#").menu-links-item__link
            span.menu-links-item__title Контакты
              img.left.menu-links-item__icon(src="./images/src/phone-icon.svg" alt="" aria-hidden="true")

      include ../partials/social-list