.popup.filter-options.filter-options-reason
  .popup__row.filter-options__row
    .popup__content.filter-options__content
      .filter-options__head
        span.filter-options__title Повод

      button(type="button").filter-options__close
        span.visually-hidden Закрыть попап
        img(src="./images/src/close-icon-grey.svg" alt="" aria-hidden="true")

      ul.filter-options-list
        li.filter-options-list__item 8 марта
        li.filter-options-list__item 23 февраля
        li.filter-options-list__item 9 мая
        li.filter-options-list__item День рождения
      