.popup.filter-options.filter-options-color
  .popup__row.filter-options__row
    .popup__content.filter-options__content
      .filter-options__head
        span.filter-options__title По цвету

      button(type="button").filter-options__close
        span.visually-hidden Закрыть попап
        img(src="./images/src/close-icon-grey.svg" alt="" aria-hidden="true")

      ul.filter-options-list
        li.filter-options-list__item Розовые розы
        li.filter-options-list__item Красные розы
        li.filter-options-list__item Фиолетовые розы
        li.filter-options-list__item Оранжевые розы
      