.popup.filter-options.filter-options-recipient
  .popup__row.filter-options__row
    .popup__content.filter-options__content
      .filter-options__head
        span.filter-options__title Кому

      button(type="button").filter-options__close
        span.visually-hidden Закрыть попап
        img(src="./images/src/close-icon-grey.svg" alt="" aria-hidden="true")

      ul.filter-options-list
        li.filter-options-list__item Бабушке
        li.filter-options-list__item Коллеге
        li.filter-options-list__item Начальнице
        li.filter-options-list__item Ребенку
        li.filter-options-list__item Бизнес партнеру
        li.filter-options-list__item Маме
        li.filter-options-list__item Папе
        li.filter-options-list__item Учителю
        li.filter-options-list__item Девушке
        li.filter-options-list__item Начальнику
        li.filter-options-list__item Подруге
      