.popup#tel-popup.tel-popup
  .popup__row.tel-popup__row
    .popup__content.tel-popup__content
      span.tel-popup__title Заказ звонка
      p.tel-popup__description Оставьте Ваш номер телефона и мы перезвоним Вам через 5 минут
      
      .white-area.tel-popup__input-block
        input(type="tel" name="tel" required).white-area__input.tel-popup__input
        span.white-area__input-label.tel-popup__input-label Телефон *

      button(type="button").action-btn.click-and-hide.tel-popup__button
        span.action-btn__inner
          span.action-btn__text Отправить